<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">
   <!--  <session-config>
      <session-timeout>30</session-timeout>
   </session-config>
   
   <security-constraint>
      <display-name>Security Constraint</display-name>
      <web-resource-collection>
         <web-resource-name>Protected Area</web-resource-name>
         <url-pattern>/jsp/add/*</url-pattern>
         <url-pattern>/jsp/update/*</url-pattern>
         <url-pattern>/jsp/upload/*</url-pattern>
         <url-pattern>/jsp/delete/*</url-pattern>
         <url-pattern>/jsp/user/welcome.jsp</url-pattern>
         <http-method>DELETE</http-method>
         <http-method>GET</http-method>
         <http-method>POST</http-method>
         <http-method>PUT</http-method>
      </web-resource-collection>
      <auth-constraint>
         <role-name>sams_admin</role-name>
      </auth-constraint>
      <user-data-constraint>
         <transport-guarantee>NONE</transport-guarantee>
      </user-data-constraint>
   </security-constraint>
   
   <login-config>
      <auth-method>FORM</auth-method>
      <form-login-config>
         <form-login-page>/jsp/user/login.jsp</form-login-page>
         <form-error-page>/jsp/user/error.jsp</form-error-page>
      </form-login-config>
   </login-config>
   
   <security-role>
      <description> An administrator </description>
      <role-name>sams_admin</role-name>
   </security-role> -->
   
   <welcome-file-list>
     <welcome-file>index.jsp</welcome-file>
     <welcome-file>index.htm</welcome-file>
 	 <welcome-file>index.jsp</welcome-file>
 	 <welcome-file>index</welcome-file>
   </welcome-file-list>
   
   	<servlet>
		<servlet-name>MainPageServlet</servlet-name>
		<servlet-class>uta.sams.servlets.MainPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainPageServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>uta.sams.servlets.RegisterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>LogOffServlet</servlet-name>
		<servlet-class>uta.sams.servlets.LogOffServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogOffServlet</servlet-name>
		<url-pattern>/logoff</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>uta.sams.servlets.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WelcomeServlet</servlet-name>
		<servlet-class>uta.sams.servlets.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WelcomeServlet</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
</web-app>